.load-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 35px;
    bottom: 0px;
    z-index: 20;
    background: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease, 0s .5s ease;
    -o-transition: opacity .5s ease, 0s .5s ease;
    transition: opacity .5s ease, 0s .5s ease;
}

.loading-posts .load-wrapper {
    opacity: 0.9;
    visibility: visible;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #a11122;
    background: -webkit-linear-gradient(left, #a11122 10%, rgba(161, 17, 34, 0) 42%);
    background: -o-linear-gradient(left, #a11122 10%, rgba(161, 17, 34, 0) 42%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #a11122), color-stop(42%, rgba(161, 17, 34, 0)));
    background: linear-gradient(to right, #a11122 10%, rgba(161, 17, 34, 0) 42%);
    position: relative;
    -webkit-animation: load3 1s infinite ease-out;
    animation: load3 1s infinite ease-out;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #a11122;
    -webkit-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: white;
    width: 75%;
    height: 75%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.load-outer-wrapper-sitemap, .load-outer-wrapper-url {
    position: relative;
}

@font-face {
    font-family: 'Vincentia';
    src: url('../font/VincentiaRegular.eot');
    src: url('../font/VincentiaRegular.eot?#iefix') format('embedded-opentype'),
    url('../font/VincentiaRegular.woff2') format('woff2'),
    url('../font/VincentiaRegular.woff') format('woff'),
    url('../font/VincentiaRegular.ttf') format('truetype'),
    url('../font/VincentiaRegular.svg#VincentiaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

section {
    padding: 5rem 0;
}

.img-bg {
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-bg h2 {
    color: white;
}

.img-bg:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 1, 1, 0.6);
    z-index: 1;
}

.text-area-wrapper {
    z-index: 2;
}

.btn {
    background: transparent;
    border: 2px solid #a11122;
    text-align: center;
    color: #a11122;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-font-smoothing: unset;
    transition: all .4s ease;
    padding: 16px 40px;
}

.btn:hover {
    cursor: pointer;
    background: #a11122;
    color: white;
}

h1 {
    font-family: 'Vincentia';
    font-size: 120px;
    font-weight: 100;
    z-index: 2;
    color: #fefefe;
    margin: 0;
    animation: fadeInUp 1s 0.5s cubic-bezier(0.4, 0.55, 0.41, 0.84) both;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    z-index: 2;
    color: #a11122;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.bg-gray {
    background: #f8f8f8;
}

textarea {
    background: #f8f8f8;
    border: 1px solid #a11122;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 1.5rem;
    outline: none;
    width: 100%;
}

.subheading {
    color: #666;
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5rem;
    margin: 0;
}

footer {
    padding: 2rem 0;
}

p {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.response-message {
    margin-top: 2rem;
}

.table {
    border: 1px solid #a11122;
    border-radius: 5px;
}

.table p {
    margin: 0;
    text-align: left;
}

.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}

.wine-wrapper {
    display: block;
    padding-bottom: 30px;
}

.wine-wrapper:hover .background-element {
    top: 35px;
}

.wine-wrapper:hover .first {
    top: 50px;
}

.introduction {
    position: relative;
    height: 200px;
}

.wine-image-wrapper {
    height: 200px;
    width: 51px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
}

.wine-overlay {
    -webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
    -ms-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    position: absolute;
    background-color: #881827;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    z-index: 10;
}

.wine-image-wrapper .bg-img svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    fill: #373737;
    height: 100%;
}

.wine-image-wrapper .fill-img svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    fill: #881827 !important;
    max-height: 0;
    z-index: 60;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
}

.wine-search .fill-img svg {
    max-height: 100%;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
}

.background-element {
    -webkit-transition: top 300ms ease-in;
    -moz-transition: top 300ms ease-in;
    -ms-transition: top 300ms ease-in;
    -o-transition: top 300ms ease-in;
    transition: top 300ms ease-in;
    position: absolute;
    right: 0px;
    left: 0;
    top: 40px;
    height: 110px;
}

.background-element p {
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
    padding-right: 38%;
}

.background-element p:first-child {
    margin-top: 15px;
}

#similar-wines {
    margin-top: 1rem;
}

.info {
    text-align: left;
}

.score-wrapper {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.score {
    font-weight: 800;
    color: #484848;
    display: inline-block;
}

.score-wrapper img {
    width: auto;
    max-width: 20px;
    height: 12px;
    display: inline-block;
    margin-bottom: 3px;
}

.stars {
    display: inline-block;
}

.first {
    font-size: 12px !important;
    position: absolute;
    top: 55px;
    margin-left: -13px;
    width: 24px;
    z-index: 10;
    background: #e65352;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
    color: #ffffff;
    -webkit-transition: top 300ms;
    -moz-transition: top 300ms;
    -ms-transition: top 300ms;
    -o-transition: top 300ms;
    transition: top 300ms;
}

.first:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 102%;
    border-right: 13px solid #86281E;
    border-bottom: 8px solid transparent;
}

.best-match {
    height: 65px;
    width: auto;
    position: absolute;
    z-index: 50;
    top: 2%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 61;
}

.score-count {
    text-align: left;
    font-size: 10px;
}

.coefficient-wrapper {
    z-index: 100;
}

.coefficient {
    color: #dddddd;
    font-weight: 800;
    z-index: 100;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
}

.coefficient-label {
    color: #dddddd;
    font-size: 8px;
}

.name {
    font-size: 1.3rem;
    color: #484848;
    margin: 0;
}

.wineyard {
    font-size: 12px;
    margin: 0;
}

.wine-button {
    background: linear-gradient(#6bbe62, #6bbe62), linear-gradient(90deg, #74b55e, #7ec466);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
    color: white;
}

.wine-button:hover {
    color: white;
    text-decoration: none;
    background: linear-gradient(#5ab750, #5ab750), linear-gradient(90deg, #66ab4f, #6ebd54);
}

.show-table .subheading {
    padding-right: 15%;
    padding-left: 15%;
}

.fade-in-up {
    opacity: 0;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -o-transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.fade-in-up.visible-fade {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.img-wrapper {
    z-index: 200;
    text-align: center;
}

.img-wrapper img {
    margin-top: 2rem;
    height: 50px;
    width: auto;
    z-index: 150;
}

.similar-wine a {
    color: #a11122;
    margin-bottom: 4rem;
    display: block;
}

.wine-wrapper {
    visibility: hidden;
    opacity: 0;
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
}

.wine-wrapper.menu-item-show {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

a:hover {
    text-decoration: none;
}

hr {
    border-top: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 30px;
}

.align-row {
    display: flex;
    justify-content: center;
}

.recommendation {
    margin-bottom: 5rem;
}